h4 {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  span {
    margin-right: 10px;
  }
  
  input {
    margin-right: 100px;
  }

  
  .edge{
    background-color: rgb(1, 184, 216);
  }

  .genre{

    text-align: right;
  }
  

  h4{

    text-align: center;
  }